<!DOCTYPE html>
<html>
<head>
    <title>Disaster Classification</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body id="body">
    <h1 id="title">Disaster Message Classifier</h1>
    <form id="predictionForm">
        <textarea id="message" placeholder="Enter your message..."></textarea><br>
        <button type="button" onclick="makePrediction()">Classify</button>
    </form>
    <div id="result" class="result"></div>

    <script src="/static/script.js"></script>
</body>
</html>
